!--
Este é o arquivo editar a pagina
./views/pages/pessoa/new.ejs
-->
<center>
<h1>CADASTRO DE USUÁRIO:</h1>
<form action="/pessoa/save" method="POST">
  <input type="text" name="nome" required="required"
    placeholder="Digite o nome" />
  <br/>
  <input type="text" name="sobrenome" required="required"
    placeholder="Digite o sobrenome" />
  <br/>
	<input type="date" name"data"
	placeholder="Digite data de Nascimento"/>

	</br>

 
  <select name="sexo">
    <option value="">Selecione o sexo</option>
    <option value="F">Feminino</option>
    <option value="M">Masculino</option>
  </select>
  <br/>
  <input type="submit" value="Salvar"/>
</form>
</center>
