!--
Este é o arquivo
./views/pages/usuario/new.ejs
-->
<h1>Nova Pessoa</h1>
<form action="/usuario/save" method="POST">

  <input type="text" name="nome"
    placeholder="Digite o nome" />
  <br/>
  <input type="text" name="email"
    placeholder="Digite seu e-mail" />
  <br/>
  <input type="text" name="idade"
    placeholder="Digite sua Idade" />
  <br/>
  <input type="text" name="cidade"
    placeholder="Digite o nome de sua cidade" />
  <br/>
  <input type="text" name="estado"
    placeholder="Digite o estado onde mora" />
  <br/>
  <input type="text" name="cep"
    placeholder="Digite seu CEP" />
  <br/>
  <select name="sexo">
    <option value="">Selecione o sexo</option>
    <option value="F">Feminino</option>
    <option value="M">Masculino</option>
  </select>
  <br/>
  <input type="submit" value="Salvar"/>
</form>
